.Bstyle-bottom{
    background-color: greenyellow;
    padding: 30px;
    border-bottom: 10px solid black;
}

Bstyle-top{
    background-color: blue;
    padding: 30px;
    border-top: 5px solid burlywood;
}
Bstyle-left{
    background-color: red;
    border-width: 30px;
    border-style: left;
    color:chocolate 
}

